.vercel-ui-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  background: #f7f9fc;

  .app-header {
    width: 100%;
    height: 56px;
    position: fixed;
    background: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 20px;
    border-bottom: 1px solid #dde3ee;
    color: #202025;
    top: 0;
    z-index: 9;
    .title {
      margin: 10px 3px;
      font-family: Inter;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      color: #222222;
    }
  }

  .landing-page {
    display: flex;
    flex-direction: column;
    height: 650px;

    .title {
      font-family: Inter;
      font-weight: bold;
      font-size: 18px;
      line-height: 135%;
      letter-spacing: -0.00019em;
      color: #475161;
      margin: 5px 0;
    }
    .sub-title {
      font-family: Inter;
      font-size: 14px;
      line-height: 185%;
      color: #475161;
    }
    .projects-wrapper {
      margin: 15px 0;
      // padding: 5px 20px;
      box-sizing: border-box;
      box-shadow: 0px 8px 20px #2222221a;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 770px;
      background: #ffffff;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      .error-message {
        padding: 20px 39px 0;
        color: red;
      }
      .projects {
        padding: 25px 0px;
        width: 100%;
        .Dropdown-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .Dropdown-wrapper:first-child {
          margin-right: 46px;
          .Select > .FieldLabel {
            color: #475161;
            font-size: 13px;
            margin: 0 0.625rem 0.8rem;
            line-height: 135%;
            letter-spacing: 0.01em;
          }
        }
        .Button--secondary {
          margin: 30px 0 0 30px;
          color: #475161;
          font-family: Inter;
          font-size: 14px;
          line-height: 185%;
          background: #ffffff;
          border: 1px solid #edf1f7;
          border-radius: 8px;
          font-weight: unset;
          :hover {
            background-color: #fff;
            // border: 1px solid #6c5ce7;
            color: #6c5ce7;
            > svg path {
              stroke: #6c5ce7;
            }
          }
        }
      }
      .projects-footer {
        display: flex;
        padding: 15px;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        border-top: 1px solid #dde3ee;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }

  .sign-in-page {
    position: relative;
    width: 33%;
    min-width: 500px;
    height: 520px;
    background: #ffffff;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    box-shadow: 0px 8px 20px #2222221a;
    border-radius: 10px;
    z-index: 0;

    .header-wrapper {
      background: #f7f9fc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px 0;
      .bg-img {
        background: #ffffff;
        padding: 15px;
        border-radius: 50%;
        > img {
          height: 40px;
          width: 40px;
        }
      }
      .title {
        margin: 10px 0;
        font-family: Inter;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #222222;
      }
      .sub-title {
        font-family: Inter;
        font-size: 14px;
        line-height: 185%;
        color: #222222;
      }
    }

    .data-center-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 8px 0;
      cursor: pointer;
      .img-wrapper {
        width: 5%;
        margin: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        .bg-img {
          background: #647696;
          border-radius: 50%;
          height: 15px;
          width: 15px;
        }
      }
      .data-center {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 25px 25px 25px 0;

        font-family: Inter;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 0.02em;
        .title {
          line-height: 135%;
          color: #222222;
          margin: 0 0 2px 0;
        }
        .value {
          line-height: 155%;
          color: #647696;
        }
      }
      .Line {
        width: 90%;
        margin: 0 5%;
      }
    }

    .footer-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 25px;
      font-family: Inter;
      font-size: 9px;
      line-height: 160%;
      letter-spacing: 0.01em;
      .title {
        color: #647696;
        margin: 0 0 10px 0;
      }
      .sub-title {
        color: #222222;
        margin: 0 0 10px 0;
        cursor: pointer;
      }
    }
  }
}
